.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px){
  .container{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 720px){
    .container{
      display: flex;
      flex-direction: column;
    }
  }